.scoreboard-container {
  text-align: center;
}

.scoreboard-heading {
  color: #1e90ff;
  margin-bottom: 20px;
}

.scoreboard-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.scoreboard-box {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 200px;
}

.message-box h2 {
  color: rgb(50, 137, 187);
}

button {
  padding: 8px 8px;
  margin: 5px;
  cursor: pointer;
}

